body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

h1, h2 {
    color: #2c3e50;
}

section {
    margin-bottom: 30px;
}

#presentation {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 30px;
}

#presentation h2 {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 24px;
}

.presentation-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.presentation-content p {
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
}

.presentation-content .intro {
    font-size: 18px;
}

.presentation-content strong {
    color: #2c3e50;
    font-weight: 600;
}

.presentation-content .qualites,
.presentation-content .apprentissage {
    background-color: #fff;
    padding: 12px;
    border-left: 4px solid #3498db;
    margin-left: 10px;
    border-radius: 0 4px 4px 0;
}
.formation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-bottom: 10px;
}

.formation-item {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.formation-date {
    font-weight: bold;
    color: #2c3e50;
    min-width: 100px;
    font-size: 16px;
}

.formation-content {
    flex: 1;
}

.formation-content h3 {
    margin-top: 0;
    color: #2c3e50;
    font-size: 18px;
}

.formation-content p {
    margin: 5px 0;
    color: #7f8c8d;
    font-style: italic;
}
.competence-header, .formation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-bottom: 10px;
}


.competence-header:hover, .formation-header:hover{
    background-color: #88cbce;
}

.plus-icon {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
}

.hidden {
    display: none;
}

#competence-list {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
#competence-list:not(.hidden) {
    max-height: 500px; /* Valeur arbitraire pour permettre l'expansion */
    opacity: 1;
}



#competences li {
    background: #f0f0f0;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #eee;
    margin-top: 30px;
}

